*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grilla {
    display: grid;
    grid-template-areas:
    "header header header"
    "productos productos publicidad "
    "servicios servicios publicidad"
    "footer footer footer";
    grid-template-rows: 150px 1fr 1fr 75px; 
    grid-template-columns: 20% auto 15%;
    row-gap: 10px;
    column-gap: 10px;
    height: 100vh;
    margin: 0;
    align-items: stretch;
 }
 .border {
    border: 1px solid #ffff
 }
 header {
    grid-area: header;
 }
 footer {
    grid-area: footer;
 }
 section#productos {
    grid-area: productos;     
 }
 section#servicios {
    grid-area: servicios;     
 }
 aside {
    grid-area: publicidad;
 }
 #servicios{
    background-image: url("../Images/Negro1.jpg");
    color: #ffff;
 }
 .aside{
    background-image: url("../Images/Negro1.jpg");
    color: #ffff;
 }
 #productos{
    background-image: url("../Images/Negro1.jpg");
    color: #ffff;
    align-content: center;
    text-align: center;
    justify-content: center;
 }
 .grid {
    display: grid;  
    grid-template-columns: 200px 200px 200px; 
    grid-template-rows: 100px 100px 100px; 
    justify-content: center;
    border: solid 1px #ffff;
 }
nav ul {
    list-style-type: none;
    background-image: url("../Images/Negro2.jpg");
}
nav ul li{
    display: inline-block;
    width: 150px;
    margin-left: 15px;
    background-image: url("../Images/Negro1.jpg");
    padding: 10px;
    margin: 12px;
    border-radius: 10px;
    color: #ffff;        
}
nav ul li a{
    text-decoration: none;
    color: #ffff;
}
.menu__enlinea{
    text-align: center;
    display: inline;        
    }
.tabla__Artistas{
    text-decoration: none;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-image: url("../Images/Negro1.jpg");
    color: #ffff;
}
.tabla__Artistas tr {
    height: 50px;
  }
  
  .tabla__Artistas td {
    padding: 10px;
  }
.video01 {
    margin-bottom: 30px;
    margin-top: 10px;
}
.container__NuevosLanzamientos{
    background-image: url("../Images/Negro1.jpg");
}
.footer__Index{
    background-image: url("../Images/Negro2.jpg");
}
@media (max-width: 480px) {
    #grilla {
        display: grid;
        grid-template-areas:
        "header"
        "productos"
        "servicios"
        "publicidad"
        "publicidad"
        "footer";
        grid-template-columns: 1fr;
        grid-gap: 0.5rem;
        row-gap: 3px;
        column-gap: 3px;
        margin: 0;
        align-items: stretch;
     }
     .border {
        border: 1px solid #ffff
     }
     header {
        grid-area: header;
     }
     footer {
        grid-area: footer;
     }
     section#productos {
        grid-area: productos;     
     }
     section#servicios {
        grid-area: servicios;     
     }
     aside {
        grid-area: publicidad;
     }
     #servicios{
        background-image: url("../Images/Negro1.jpg");
        color: #ffff;
     }
     .aside{
        background-image: url("../Images/Negro1.jpg");
        color: #ffff;
        font-size: 12px;
      
     }
     #productos{
        background-image: url("../Images/Negro1.jpg");
        color: #ffff;
        align-content: center;
        text-align: center;
        justify-content: center;
     }
     .grid {
        display: grid;  
        grid-template-columns: 100px 100px 100px; 
        grid-template-rows: 40px 40px 40px; 
        justify-content: center;
        border: solid 1px #ffff;
        font-size: 10px;
     }
    nav ul {
        list-style-type: none;
        background-image: url("../Images/Negro1.jpg");
    }
    nav ul li{
        display: inline-block;
        width: auto;
        height: 40px;
        background-image: url("../Images/Negro1.jpg");
        padding: 10px;
        margin: 12px;
        border-radius: 10px;
        color: #ffff;      
        font-size: 8px;  
    }
    nav ul li a{
        text-decoration: none;
        color: #ffff;
    }
    .menu__enlinea{
        text-align: center;
        display: inline;        
        }
    header,
    section,
    section,
    aside,
    footer, iframe{
      width: 100%;
    }
}